@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div id="solid-search-component"></div>
</div>
@section Scripts {
    <script type="module" src="~/js/solid-search-component.js" asp-append-version="true"></script>
}